* {
  box-sizing: border-box;
}
.album-item {
  max-width: 100%;
  min-width: 350px;
  border: 0px solid black;
  text-align: center;
  background-color: rgb(250, 187, 7);
  color: rgb(247, 246, 249);
  padding: 20px;
}

.artist-name {
  color: rgb(109, 105, 112);
  opacity: 0.85;
}

.album-image {
  width: 350px;
}

.select-button {
  font-family: "Poppins", sans-serif;
}
